/* .border-primary {
  border-color: var(--yellow) !important;
} */

.CategoriesPageTeachers {
  min-height: 85vh;
  display: flex;
  margin: 2rem;
  flex-direction: column;
}

.CategoriesPageTeachers h3 {
  margin-bottom: 1.5rem;
  color: var(--yellow);
}

.AllCategoriesTeachers {
  display: flex;
  flex-direction: column;
  width: 91%;
  margin: 0.5rem;
}

.btn-create  {
  background-color: var(--grey);
  border: var(--grey) solid 1px;
  border-radius: 0.3rem;
  padding: 3px 20px;
  margin: 5px 25px;
  margin-top: 25px;
  color: var(--blue);
}

.btn-create:hover {
  transform: scale(0.95);
  background-color: var(--grey);
  border: var(--grey) solid 1px;
  color: var(--yellow);
}

.SingleCategoryTeachers a {
  font-size: 20px;
  color: var(--blue); 
}

.SingleCategoryTeachers a:hover {
  font-size: 19px;
  color: var(--yellow);
}
