:root {
  --grey: #CECBC9;
  --blue: #2B6980;
  --yellow: #B49206;
  --red: #A6372B;
  --green: #3D8832;
}

.App {
  /* background-color: var(--grey); */
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 91%;
  margin: auto;
  justify-content: center;
}

.Footer {
  background-color: var(--grey); 
  color: var(--blue);
  height: auto;
  padding: 1.1rem 3rem;
}

.Forbidden {
  margin: 10rem; 
  display: flex; 
  justify-content: center; 
  color: var(--red);
}

.NotFound {
  margin: 10rem; 
  display: flex; 
  justify-content: center; 
  color: var(--blue);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  text-decoration: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
