.border-secondary {
  border-color: var(--green) !important;
}

.HistoryPage {
  min-height: 76vh;
  display: flex;
  margin: 2rem;
  flex-direction: column;
}

.HistoryPage h3 {
  margin-bottom: 1.5rem;
  color: var(--green);
}

.AllQuizzesSolvedByStudent {
  display: flex;
  flex-direction: column;
  width: 91%;
  margin: 1rem auto;
}
