.AllQuizzesTeacher {
  display: flex;
  flex-direction: column;
  width: 91%;
  margin: 0.5rem;
}

.btn-createQuiz  {
  font-size: 1.1rem;
  background-color: var(--grey);
  border: var(--grey) solid 1px;
  border-radius: 0.3rem;
  padding: 5px 20px;
  margin: 20px 40px 5px 40px;
  color: var(--blue);
}

.btn-createQuiz:hover {
  transform: scale(0.95);
  background-color: var(--grey);
  border: var(--grey) solid 1px;
  color: var(--green);
}

.sqt-link a {
  color: var(--blue); 
  font-size: 20px;
}

.sqt-link a:hover {
  color: var(--green); 
  font-size: 19px;
}
