.Navbar {
  background-color: var(--grey);
  height: auto;
}

.logo {
  width: 8rem;
  margin: 0.2rem 0;
}

.nav-links {
  color: var(--blue) !important;
  font-size: 1.4rem;
  margin: 0 0.5rem;
  text-decoration: none;
}

.nav-links:hover {
  text-decoration: none;
  text-shadow: -0.06ex 0 var(--yellow), 0.06ex 0 var(--yellow);
}
