.border-info {
  border-color: var(--red) !important;
}

.LeaderboardPage {
  min-height: 76vh;
  display: flex;
  margin: 2rem;
  flex-direction: column;
}

.LeaderboardPage h3 {
  margin-bottom: 1.5rem;
  color: var(--red);
}

.AllSolvedQuizzes {
  display: flex;
  flex-direction: column;
  width: 91%;
  margin: 1rem auto;
}

.AllSolvedQuizzes span {
  color: var(--blue);
  font-size: 18px;
}

.AllSolvedQuizzes select {
  color: var(--blue);
  font-size: 16px;
  border-color: var(--green);
  border-radius: 5px;
  min-width: 80px;
}
