.CategoryQuizzes {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  width: 91%;
  margin: auto;
  justify-content: center;
}

.message {
  color: var(--red); 
  text-align: center;
  font-size: 25px;
}

.CategoryQuizzes h2 {
  color: var(--red); 
  text-align: center;
}

.CategoryQuizzes h3 {
  font-size: 25px;
  color: var(--yellow); 
  position: absolute;
  top: 100px;
  left: 70px;
}

.QuizzesAll {
  margin: 1.5rem 1rem;
  width: 85%;
  position:fixed;
  top: 120px;
  left: 80px;
}

.Quizzes {
  margin: 1.5rem auto;
}

.Quizzes h4 {
  margin-bottom: 1.5rem;
  color: var(--yellow);
}

.QuizzesSolved {
  margin: 2rem auto;
}

.QuizzesSolved h4 {
  margin-bottom: 1.5rem;
  color: var(--green);
}

.btn-solve {
  background-color: var(--grey);
  border: var(--grey) solid 1px;
  border-radius: 0.3rem;
  padding: 4px 20px;
  color: var(--blue);
}

.btn-solve:hover {
  transform: scale(0.95);
  background-color: var(--grey);
  border: var(--grey) solid 1px;
  color: var(--yellow);
}
