.StudentsDashboard {
  display: flex;
  flex-direction: row;
  width: 91%;
  margin: 1rem auto;
}

.CategoriesAll {
  margin: auto;
  width: 40%;
}

.LiederQuiz {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 56%;
}

.Leaderboard {
  margin-top: 1rem;
  margin-bottom: 1.8rem;
}

.CategoriesBoard h3 {
  margin-bottom: 1.5rem;
  color: var(--yellow);
}

.QuizHistory h4 {
  margin-bottom: 1.5rem;
  color: var(--green);
}

.Leaderboard h3 {
  margin-bottom: 1.5rem;
  color: var(--red);
}
