.container-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
}

.LandingPage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
  height: 400px;
  margin: auto;
  word-break: break-all;
}

h3 {
  margin-bottom: 2.5rem;
}

.btn-login {
  background-color: var(--grey);
  border: var(--grey) solid 1px;
  padding: 5px 25px;
  margin-top: 25px;
  color: var(--blue);
}

.btn-login:hover {
  transform: scale(0.95);
  background-color: var(--grey);
  border: var(--grey) solid 1px;
  color: var(--blue);
}

.btn-login:focus {
  transform: scale(0.95);
  background-color: var(--grey);
  border: var(--grey) solid 1px;
  color: var(--blue);
}
