.border-primary {
  border-color: var(--yellow) !important;
}

.CategoriesPage {
  min-height: 85vh;
  display: flex;
  margin: 2rem;
  flex-direction: column;
}

.CategoriesPage h3 {
  margin-bottom: 1.5rem;
  color: var(--yellow);
}

.AllCategories {
  display: flex;
  flex-direction: column;
  width: 91%;
  margin: 1rem auto;
}

.SingleCategory a {
  font-size: 20px;
  color: var(--blue); 
}

.SingleCategory a:hover {
  font-size: 19px;
  color: var(--yellow);
}

.CategoryQuizzes {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  width: 91%;
  margin: auto;
  justify-content: center;
}

.CategoryQuizzes h3 {
  font-size: 25px;
  color: var(--yellow); 
  position: absolute;
  top: 100px;
  left: 70px;
}

a {
  text-decoration: none;
}
