.TeachersDashboard {
  display: flex;
  flex-direction: row;
  width: 91%;
  margin: 1rem auto;
}

.CategoriesSection {
  margin: 1.5rem auto auto auto;
  width: 40%;
}

.CreatedQuizzesSection {
  margin: 1.5rem auto auto auto;
  width: 56%;
}

.CategoriesSectionBoard h3 {
  margin-bottom: 1.5rem;
  color: var(--yellow);
}

.CreatedQuizzesSectionBoard h3 {
  margin-bottom: 1.5rem;
  color: var(--green);
}
